.logo {
  padding-bottom: 2px;

  &--menu-active {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .logo__image {
    width: 222px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .logo__image {
    width: 272px;
  }
}
