.nav {
  display: flex;
  align-items: center;

  min-height: 55px;
  padding: 0 10px;
}

.nav__list-wrapper {
  top: 0;
  left: 0;
  z-index: 20;

  display: none;
  flex-direction: column;

  width: 100%;

  background-color: @background-white;

  &--active {
    display: flex;
  }
}

.nav__request-button {
  width: 138px;
  height: 43px;
  margin-left: auto;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @font-white;

  background-color: @background-black;
}

.nav__request-text-2 {
  display: none;
}

.nav__item {
  border-bottom: 1px solid @background-gray;
}

.nav__link {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  min-height: 60px;
  padding: 0 14px;

  font-size: 14px;
  line-height: 18px;
}

@media (max-width: @mobile-width) {
  .nav {
    position: relative;
  }

  .nav__list-wrapper {
    position: absolute;
  }
}

@media (min-width: @tablet-width) {
  .nav {
    align-items: flex-start;

    padding: 0;
  }

  .nav__list-wrapper {
    display: flex;

    //Временно для сетки
    width: 56.9%;

    background-color: transparent;
  }

  .nav__list {
    display: flex;
    justify-content: space-around;

    padding: 0 20px;
  }

  .nav__item {
    border: none;
  }

  .nav__link {
    min-height: 46px;
    padding: 0;

    line-height: 16px;
  }

  .nav__list-icon {
    display: none;
    padding-left: 4px;
    box-sizing: unset;

    &--active {
      display: block;
    }
  }

  .nav__request-button {
    display: block;

    width: 14.7%;
    height: auto;
    min-height: 100px;
    padding: 0 2%;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .nav__request-text-1 {
    display: none;
  }

  .nav__request-text-2 {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .nav__list-wrapper {
    width: 50.3%;
  }

  .nav__list {
    padding: 0 26px;
    padding-top: 5px;
  }

  .nav__link {
    min-height: 45px;
    letter-spacing: 0.06em;
  }

  .nav__list-icon {
    padding-left: 11px;
  }

  .nav__request-button {
    width: 14.5%;

    height: 103px;
    padding: 0 3.5%;
  }

  .nav__request-text-2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
